.App {
  font-family: sans-serif;
}

.visible {
  visibility: visible;
}

button {
  background: rgba(233, 189, 94, 0.767);
  border: none;
  padding: 1% 2%;
}

input {
  padding: 0.6% 2%;
  border: 0;
  border-bottom: 1px solid black;
}

.invisible {
  visibility: hidden;
}
